/* Styles for desktop screens */


.job-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}

/* Styles for tablets */
@media screen and (max-width: 768px) {
  .job-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for mobile devices */
@media screen and (max-width: 480px) {
  .job-card-container {
    grid-template-columns: 1fr;
  }
}

